body {
  background-color: rgb(215, 225, 237);
  font-family: 'Outfit', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

input,
button {
  font-family: inherit;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid red;
}

.text-container {
  border: 2px solid blue;
}

form {
  border: 2px solid limegreen;
}
